.posts {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    font-size: 17px;
    width: 99%;
    line-height: 1.75rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid rgb(230, 236, 240);
    padding-right: 30px;
  }
  
  .user-pics img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0rem 1rem;
  }
  
  .user-content-text-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: rgb(20, 23, 26);
  }
  
  .user-names {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
  }
  
  .full-name {
    font-size: 1rem;
    font-weight: 700;
    color: rgb(20, 23, 26);
  }
  
  .user-name {
    font-size: 1.05rem;
    font-weight: 400;
    color: rgb(101, 119, 134);
  }
  
  .time {
    color: rgb(101, 119, 134);
    margin-top: 18px;
  }
  
  .user-content {
    font-family: "Roboto";
    padding-right: 1rem;
    color: rgb(48, 52, 56);
    font-weight: 400;
    line-height: 1.2;
  }
  
  .user-content a {
    color: rgb(27, 149, 224);
  }
  
  .content-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
    
  }
  
  .content-icons i {
    color: rgb(101, 119, 134);
    font-size: 1rem;
    cursor: pointer;
  }
  
  .content-icons i:last-child {
    font-size: 14px;
  }
  
  .content-icons .blue:hover {
    color: rgba(29, 161, 242, 1.00);
  }
  
  .content-icons .green:hover {
    color: rgb(23, 191, 99);
  }
  
  .content-icons .red:hover {
    color: rgb(224, 36, 94);
  }
  