.wrapper{
    height:auto;
    margin-top: 1%;
   display: flex;
   overflow-x: auto;
   overflow-y: hidden;
}
.wrapper::-webkit-scrollbar{
    width: 0;
}
.wrapper .item{
    min-width:20.5vh;
    height:25vh;
    line-height: 110px;
    text-align: center;
    background-color: #ddd;
    margin-right: 10px;
    border-radius: 15px;


}