
  .wrapper {
    height: auto;
    margin-top: 1%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    /* Ensure smooth scrolling and snapping */
    scroll-snap-type: x mandatory;
   
  }
  
  .wrapper::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }
  
  .wrapper .item {
    /* Default width: 4 items for large screens */
    width: calc((100% - 40px) / 4); /* 40px for margins and paddings */
    height:auto;
    text-align: center;
    background-color: #ddd;
    margin-right: 10px;
    border-radius: 15px;
    flex-shrink: 0; /* Prevent items from shrinking */
    scroll-snap-align: start; /* Ensure proper snapping */
  }
  




  /* Default style for larger screens (576px to 768px) */
.wrapper .item {
  width: calc((100% - 30px) / 3); /* 3 columns */
  margin: 5px;
}

/* Media query for screens wider than 768px (4 columns) */
@media (min-width: 1200px) {
  .wrapper .item {
    width: calc((100% - 40px) / 4); /* 4 columns */
  }
}

/* Media query for screen widths between 400px and 576px (3 columns) */
@media (max-width: 576px) and (min-width: 400px) {
  .wrapper .item {
    width: calc((100% - 30px) / 3); /* 3 columns */
  }
}

/* Media query for screen widths less than 400px (2 columns) */
@media (max-width: 399px) {
  .wrapper .item {
    width: calc((100% - 20px) / 2); /* 2 columns */
  }
}






      .name{
        line-height: 0.9;
      }
      .left{
        border-radius: 50%;
      }
      .right{
        border-radius: 50%;
      }
      /* Remove focus outline from all Bootstrap buttons */
.btn:focus {
  outline: none;
  border: none;
}


