input:focus{
  outline: none;
}
div.right_side_bar{
  position: fixed;
  right: 30px;
  top: 10px;
 
}
.left_sidebar{
  position: sticky;
  top: 0px;
  height: fit-content;
}
.hadis-head{
  width: 100%;
}
.hadis-body{
  width: 100%;
  
}
.hadis-head{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.btn-custom {
  display: flex;
  align-items: center;
}
.btn-custom .fa-copy {
  margin-left: 0.5rem;
}





.custom-scroll {
  overflow-y: hidden;
  overflow-y: scroll;
}



.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #E5E5E5;
  border-radius: 10px;
  margin-bottom: 20px; /* Match the border radius */

  
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #cdbaba;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #ecb1b1;
}

.custom-scroll::-webkit-scrollbar-corner {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px; /* Match the border radius */
}
  