.badge-public {
    background-color: #28a745; /* Green for public groups */
  }
  
  .badge-private {
    background-color: #dc3545; /* Red for private groups */
  }
  
  .card-body {
    padding: 0;
  }
  
  .card-img-top {
    border-radius: 0.25rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-primary:disabled {
    background-color: #c4c4c4;
  }
  