
  .letsgo-container {
    position: fixed;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  
  .letsgo-button {
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    border: none;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    animation: pulse 2s infinite;
  }
  
  .letsgo-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 114, 255, 0.5), 0 0 30px rgba(0, 114, 255, 0.5), 0 0 40px rgba(0, 114, 255, 0.5);
  }



  /* Specific Scrollbar Customization */
.letsgo-container ::-webkit-scrollbar {
  width: 0px !important; /* Specific width for the scrollbar */
}

