.quiz-reward-container {

  padding-top: 2vh; /* Adjust as needed */
}

.reward-body {
  padding: 30px 10px;
  text-align: center;
}

.reward-content {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
}

.reward-title {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.points {
  margin-bottom: 20px;
}

.points-label {
  font-weight: 500;
}

.points-value {
  font-weight: bold;
  margin-left: 5px;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.back-button,
.claim-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 0 10px;
}

.back-button:hover,
.claim-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.fa-chevron-left,
.fa-chevron-right {
  margin-right: 0.5rem;
}
