.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1040;
  }
  
  .modal.show.d-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
  }
  
  .custom-modal-content {
    position: relative;
    z-index: 1051;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  .custom-modal-content img {
    border-radius: 10px 10px 0 0;
  }
  
  .custom-close-button {
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .custom-close-button:hover {
    background-color: #343a40;
    color: white;
  }
  