.chat {
  margin-top: auto;
  margin-bottom: auto;
}

.ms-card {
  height: 100vh;
  background-color: white !important;
  border: none;
}

.msg_card_body {
  border-radius: 0;
  background: #ffffff;
}

.card-header {
  max-height: 10vh;
  min-height: 60px;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #0062cc, #007bff);
  color: white;
}

.search {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 0 !important;
  color: white !important;
}

.search:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.type_msg {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 0 !important;
  color: #495057 !important;
  height: 60px !important;
  overflow-y: auto;
}

.type_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.attach_btn {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 0 !important;
  color: #007bff !important;
  cursor: pointer;
}

.send_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: #007bff !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.user_img {
  height: 50px;
  width: 50px;
  border: 2px solid #f5f6fa;
}

.user_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}

.img_cont_msg {
  height: 40px;
  width: 40px;
}

.msg_cotainer {
  margin-bottom: 10px;
  margin-left: 7px;
  border-radius: 20px;

  background: linear-gradient(135deg, #e4e9f5, #cccfd4);
  color: rgb(31, 30, 30);
  padding: 12px;
  position: relative;
  max-width: 70%;
  line-height: 1.2rem;
  word-wrap: break-word;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease forwards;
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* For older versions of WebKit browsers */
  -moz-user-select: none; /* For older versions of Firefox */
}
.msg_cotainer::selection {
  background-color: transparent; /* Ensure selection is not visible */
}

.msg_cotainer_send {
  margin-bottom: 10px;
  margin-right: 7px;
  border-radius: 20px;





  background: linear-gradient(135deg, #6b6ab3, #8c64e3);
  color: white;
  padding: 12px;
  position: relative;
  max-width: 70%;
  word-wrap: break-word;
  animation: fadeIn 0.3s ease forwards;
  line-height: 1.2rem;
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* For older versions of WebKit browsers */
  -moz-user-select: none; /* For older versions of Firefox */
}

.msg_cotainer_send::selection {
  background-color: transparent; /* Ensure selection is not visible */
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.msg_time {
  position: absolute;
  left: 0;
  bottom: -23px;
  color: rgba(20, 16, 16, 0.5);
  font-size: 10px;
}

.msg_time_send {
  position: absolute;
  right: 0;
  bottom: -23px;
  color: rgba(20, 16, 16, 0.5);
  font-size: 10px;
}

.msg-options-icon {
  position: absolute;
  top: 10px;
  cursor: pointer;
  color: #007bff;
  padding: 5px;
  font-size: 18px;
  display: none;
  
}

.others:hover .msg-options-icon {
  display: block;
}
.my:hover .msg-options-icon {
  display: block;
}

.msg_cotainer .msg-options-icon {
  right: -25px;
}

.msg_cotainer_send .msg-options-icon {
  left: -25px;
}

.msg-options-menu {
  top: 10px;
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  color: #000;
  min-width: 100px;
  transition: opacity 0.3s ease;
  padding-bottom: 3px;
}

.msg_cotainer .msg-options-menu {
  right:0%; /* Adjust the position to be close to the options icon */
}

.msg_cotainer_send .msg-options-menu {
  left: 0%; /* Adjust the position to be close to the options icon */
}

.msg-options-menu.show {
  display: block;
}

.msg-options-menu div {
  padding: 3px 7px;
  cursor: pointer;
}

.msg-options-menu div:hover {
  background: #f1f1f1;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}







.message-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}



.message-body {
  flex-grow: 1; /* This will make the body take the remaining space */
  overflow: hidden; /* To ensure the scrollbar only applies inside */
  display: flex;
  flex-direction: column;
}

.msg_card_body {
  flex-grow: 1; /* Make the message container fill the space */
  overflow-y: auto; /* Enable scrolling */
  padding: 10px;
}

