/* Global Styles */
body {
  font-family: Arial, sans-serif;
}

input:focus {
  outline: none;
}

/* Navbar Styles */
.xs-nav {
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Left Sidebar Styles */
.left_sidebar {
  position: sticky;
  top: 0;
  height: 100vh; /* Full height of the viewport */
  background-color: #f9f9f9;
  padding-left: 0.5rem;
}

.left_sidebar span {
  color: #1DA1F2;
}

.left_sidebar p {
  margin: 0;
  color: #333;
  transition: color 0.3s ease;
}

.left_sidebar p:hover {
  color: #ffffff;
  text-decoration: none;
}

.left_sidebar .fa-solid,
.left_sidebar .fa-brands {
  color: #1DA1F2;
  transition: color 0.3s ease;
}

.left_sidebar .fa-solid:hover,
.left_sidebar .fa-brands:hover {
  color: white;
}

.left_sidebar .d-flex {
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 25px;

}

.left_sidebar .d-flex:hover {
  background-color: #1DA1F2;
  color: white;
}

.left_sidebar .d-flex:hover i {
  color: white;
}

.left_sidebar .pl-5 {
  padding-left: 1.25rem !important;
}

.active .text {
  color: white;
}

.active .mydiv {
  background-color: #1682e8;
  color: white;
}

.active > .d-flex > span > i {
  color: white;
}

.custom-link:hover {
  text-decoration: none;
}

.custom-link {
  text-decoration: none;
}

.custom-link:hover i {
  color: white;
}

.custom-link:hover p {
  color: white;
}




