.pulsating-text, .pulsating-icon {
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.6;
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .btn {
    border-radius: 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border: none;
  }
  
  .btn:disabled {
    background-color: #d6d8db;
    cursor: not-allowed;
    box-shadow: none;
  }
  