body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif !important;

  /* Default background gradient */
  background: linear-gradient(to right, #ffffff 50%, #f0f2f5 50%);
}

/* Media query for medium devices and below */

body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Default background gradient */
  background: linear-gradient(to right, #ffffff 50%, #ffffff 50%);
}




react-scrollbars-custom .scrollbar-thumb {
  width: 5px !important; /* Set the width of the scrollbar thumb */
  background-color: #140d0d !important; /* Color of the scrollbar thumb */
  border-radius: 5px !important; /* Optional: round the scrollbar thumb */
}

/* for small back button */
.sm-back{
  margin-top: 60px;
}

@media (max-width: 576px) { /* Adjust breakpoint as needed for small devices */
  .sm-back-sm{
    margin-top: 60px;
  }
}


/* Customize scroll bar */
.ScrollbarsCustom-Thumb{
  background-color: #b8babc !important;
}

/* Hide scrollbar by default */
.ScrollbarsCustom-TrackY {
  width: 6px !important;
  opacity: 0; /* Make scrollbar invisible by default */
  transition: opacity 0.3s ease; /* Smooth transition effect */
}

/* Show scrollbar on hover */
.scroll-container:hover .ScrollbarsCustom-TrackY {
  opacity: 1; /* Make scrollbar visible on hover */
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.chat-section{
  height: 50vh;
  width: 100%;
  overflow-y: scroll;
}
.group-chat-section{
  height: 50vh;
  width: 100%;
  overflow-y: scroll;
}
.chat-container{
  display: none;
 
}
.group-chat-container{
  display: none;
 
}
.list-group-item{
  cursor: pointer;
}
.offline-status{
  color: green;
}
.online-status{
  color: red;
}
.current-user-chat{
  text-align: right;
  padding: 5px;
  padding-right: 15px;
}
.distance-user-chat{
  text-align: left;
  padding: 5px;
}
.fa-trash{
  cursor: pointer;
}
.modal-content * {
  border: none; /* Remove borders from all elements */
}
.modal-footer{
  padding-top: 0px;
  margin-top: 0px;
}
.modal-body{
  padding: 0px;
  margin: 0px;
}
.modal-head{
  padding: 0px;
  margin: 0px;
}
.fa-copy{
  cursor: pointer;
}

/* Top margin for navbar */
@media (max-width: 576px) {
  .main {
  margin-top: 2rem;
   margin-bottom: 100px !important;
  }
}


.posts {
  display: flex;
  margin-bottom: 7px;
  margin-top: 10px;
  border: 1px solid #ddd;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
min-width: 295px !important;
  background-color: #f9f9f9;
  padding-right: 25px; /* Default for large devices */
}

@media (max-width: 767px) { /* Adjust breakpoint as needed for small devices */
  .posts {
    padding-right: 5px;
  }
 
}






.user-pics img {
  width: 50px;
  height: 50px;
  border-radius: 50%;


}


@media (max-width: 767px) { /* Adjust breakpoint as needed for small devices */
  .user-pics img{
   
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
}

.user-content-text-box {
  flex-grow: 1;
 
  max-width: 100%;

}

.user-names-text {
  display: flex;
  align-items: center;
}

.name-column {
  flex-grow: 1;
}

.full-name-text {
  font-size: 16px;
  font-weight: bold;
}

.user-name-text {
  font-size: 14px;
  color: #777;
}

.time-text {
  font-size: 17px;
  color: #999;

}

.user-content p {
  font-size: 17px;
  line-height: 1.5;
  padding-right: -10px;
max-width: 100%;
}

.content-actions {
  margin-top: 10px;
}

.btn {
  padding: 5px 10px;
  font-size: 14px;
}


.btn{
  outline: none !important;
  box-shadow: none !important;
  border: none;
}











/* Heart Animation */
.red-heart {
  color: red !important;
  animation: heartBeat 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
  transition: transform 0.3s ease-in-out !important;
}
.red-heart span {
  color: #657786 !important;

}
.red-heart:hover span {
  color: #586169 !important;
}

@keyframes heartBeat {
  0% {
    transform: scale(1)  !important;
  }
  30% {
    transform: scale(1.2)  !important;
  }
  60% {
    transform: scale(0.9)  !important;
  }
  100% {
    transform: scale(1)  !important;
  }
}

.far {
  transition: transform 0.3s ease-in-out  !important;
}

.far:hover {
  transform: scale(1.1)  !important;
}


/* Unlike */

/* Heart Animation */
.red-unlike {
  color: #3b3b3b !important;
  animation: heartBeat 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
  transition: transform 0.3s ease-in-out !important;
}
.red-unlike span {
  color: #657786 !important;

}
.red-unlike:hover span {
  color: #586169 !important;
}

