.hadith-box {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  font-family: 'Arial', sans-serif;
  border-radius: 10px;
  border: 1px solid #ced4da;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.hadith-head {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 8vh;
  min-height: 50px;
  border-bottom: 1px solid blueviolet;
}

.btn-copy {
  background-color: #353d45;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
}

.btn-copy i {
  margin-left: 5px;
}

.btn-copy:hover {
  background-color: #2a2f35;
}

.btn-new {
  background-color: #353d45;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-new:hover {
  background-color: #2a2f35;
}

.card-body {
  height: 49vh;
  min-height: 300px;
  overflow-y: auto;
  background-color: #ffffff;
  padding: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-content {
  position: relative;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #212529;
}

.card-text {
  font-size: 1rem;
  color: #495057;
  line-height: 1.6;
}
