.custom-scrollbar {
    position: fixed;
    right: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 0;
    cursor: pointer;
  }
  
  .scroll-indicator {
    position: absolute;
    width: 100%;
    min-height:40vh;
    background: #9dafc3; /* Blue color for the scrollbar indicator */
    border-radius: 4px; /* Slightly rounded corners */
  }
  